@import './commons.scss';

@import './slides/navigation';
@import './slides/about-me';
@import './slides/projects';
@import './slides/skills';
@import './slides/resume';

@import './components/startingScreen';

body {
    background-color: black;
    margin:0;

    .footer {
        background-color: red;
        height: 100px;
        display: none;
    }
}

.app {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.block{
    display: block;
}