.card {
    width: 40%;
    height: fit-content;
    background: rgba(185, 250, 247, 0.5);
    border-radius: 20px;
    transition-duration: .25s;
    transition-timing-function: ease;
    margin: 25px;   

    &:hover {
        transform: scale(1.05);
        transition-duration: .25s;
        transition-timing-function: ease;

        .card-mediaContainer {

            &-image {
                transition-duration: .25s;
                transition-timing-function: ease;
                filter: none;
            }
        }
    }

    &-title {
        margin: 0;
    }
    &-mediaContainer {
        display: flex;
        &-image {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            max-width: 100%;
            transition-duration: .25s;
            transition-timing-function: ease;
            filter: grayscale(10%) opacity(50%);
        }
    }

    &-skillsContainer {
        .card-skills-list {
            list-style: none;
            display: flex;
            margin: 0;
            padding-left: 10px;
            padding-top: 10px;

            &-item {
                margin-right: 10px;
                height: 40px;
                width: 40px;
                border-radius: 7px;
                background-size: contain;
                background-position: center;
            }
        }
    }
    &-textContainer {
        padding: 10px;
        
        font-family: 'PT Sans';
        margin-top: 0;
        
        .card-list {
            overflow: hidden;
            height: auto;
            max-height: 0;
            transition: max-height 1s ease;


            &.height-auto {
                max-height: 275px;
                transition: max-height 1s ease;
            }
        }
    }
    &-buttonContainer {
        width: 100%;
        display: flex;

        .card-button-link {
            flex-grow: 1;
            &:first-of-type {
                .card-button {
                    border-bottom-left-radius: 20px;
                }
            }
            &:last-of-type {
                .card-button {
                    border-bottom-right-radius: 20px;
                }
            }
        }

        .card-button {
            width: 100%;
            border: 0;
            padding: 15px;
            background-color: rgba(197, 197, 197, .7);
            font-family: 'PT Sans';
            font-weight: 700;
            cursor: pointer;

            &:hover {
                background-color: cadetblue;
                color: white;
            }
        }
    }
}

@-webkit-keyframes heightAuto {
    0% { max-height: 0% }
    100% { max-height: auto; }
}

@keyframes heightAuto {
    0% { max-height: 0% }
    100% { max-height: auto; }
}