@import '../fonts/montserrat.scss';

.about-me-slide {
    background-color: white;
    display:none;
    transition-duration: 2s;
    transition-timing-function: ease;   
    position: absolute;
    top: -55%;
    width: 100%;
    height: 75%;
    background: blue;
    -webkit-animation: slidetop 1s forwards;
    animation: slidetop 1s forwards;
    overflow: hidden;
    

    .about-me-container {
        display: flex;
        height: 99%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .about-me-media-container {
        min-width: 250px; 
        min-height: 250px;
        width: 250px; 
        height: 250px;
        margin-left: 10%;
        margin-right: 10%;


        .me {
            background-image: url('/dist/img/me.png');
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }
    
    .about-me-text-container {
        width: 60%;
        .about-me-text p{
            font-size: 22px;
            color: white;
            font-family: 'montserrat';
            // text-transform: uppercase;
        }
    }
    .down-arrow-icon {
        background-image: url('/dist/icons/arrow-up-solid.svg');
        background-position: center;
        height: 50px;
        width: 50px;
        background-size: cover;
        transform: rotate(180deg);
        margin-bottom: 20px;
        margin-right: 50px;
        justify-self: right;
        align-self: flex-end;
        cursor: pointer;
    }
}
@-webkit-keyframes slidetop {
    100% { top: 0; }
}

@keyframes slidetop {
    100% { top: 0; }
}